.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: rgb(218, 97, 171) !important;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: rgb(218, 97, 171) !important;
}

.mySwiper .swiper-pagination-bullet {
  background-color: rgb(218, 97, 171) !important;
}
